.table-section, .chart-section {
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.table-section {
    background: linear-gradient(135deg, #f9f9f9, #e6e6e6);
}

.chart-section {
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    background: linear-gradient(135deg, #f0f9ff, #cce7ff);
    text-align: center;
}

.content-header h1 {
    color: #007bff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

table th {
    background-color: #007bff;
    color: white;
}

table td {
    text-align: center;
}

.bg-gradient-info {
    background: linear-gradient(135deg, #17a2b8, #138496);
}

.small-box {
    text-align: center;
    padding: 15px;
    border-radius: 10px;
}

.small-box h3 {
    font-size: 2.2em;
}

.small-box i {
    font-size: 4em;
}
